############
## Node Modules
############
/node_modules/*
npm-debug.log

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
